@model IEnumerable<AmbulanceSystem_WebApp.Resources.PatientFullData>

@{
    ViewData["Title"] = "View Patients";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="min-height: 690px">
    <div class="my-5 w-50 pt-5">
        <h1 class="display-2">View Patients</h1>
    </div>

    @foreach (var patient in Model)
    {
        <div class="row">
            <div class="col-2">

                @if (patient.User.ImageUrl != null)
                {
                    <img src="@patient.User.ImageUrl" alt="@patient.User.Username" class="img-resposive" />
                }
                else
                {
                    <img src="~/lib/assets/images/first-aid-1040283-1920-122x122.png" alt="@patient.User.Username" class="img-resposive" />

                }
                    <p class="pt-3 display-7">                         
                        @Html.ActionLink(@patient.User.Username, "ViewPatient", "Recieptionist", new { Id = patient.Id })
                    </p>
            </div>
            <div class="col-10">
                <table class="table table-dark table-striped">
                    <tr>
                        <td>National Id: </td>
                        <td>@patient.User.NationalId</td>
                        <td>Birthdate: </td>
                        <td>@patient.Birthdate.ToShortDateString()</td>
                    </tr>
                    <tr>
                        <td>Blood Type: </td>
                        <td>@patient.BloodType</td>
                        <td>Number of Requests: </td>
                        <td>@patient.PatientRequests.Count</td>
                    </tr>
                    <tr>
                        <td>Email: </td>
                        <td>@patient.User.Email</td>
                        <td>Phone: </td>
                        <td>@patient.User.PhoneNumber</td>
                    </tr>
                </table>
            </div>
        </div>
        <hr />
    }   
</div>

