@model AmbulanceSystem_WebApp.ViewModels.AuthorityStatisticsViewModel
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="min-height:690px">
    <div class="m-5 w-50 pt-5">
        <h1>Ambulance Dashboard</h1>
        <hr />
    </div>
    <div class="m-5">
        <div class="card-columns">
            <div class="card bg-info text-light p-3">
                <div class="card-body text-center">
                    <h4 class="card-title">Orders</h4>
                    <p class="card-text display-4">
                        Finished
                        <span class="badge badge-success">@Model.FinishedOrders</span>
                    </p>
                    <p class="card-text display-4">
                        Failed
                        <span class="badge badge-primary">@Model.FailedOrders</span>
                    </p>
                </div>
            </div>
            <div class="card bg-secondary text-light p-3">
                <div class="card-body text-center">
                    <h4 class="card-title">Paramedics</h4>
                    <p class="card-text display-4">
                        Avaiables
                        <span class="badge badge-success">@Model.AvailableParamedicCount</span>
                    </p>
                    <p class="card-text display-4">
                        In Request
                        <span class="badge badge-primary">@Model.unAvailableParamedicCount</span>
                    </p>
                </div>
            </div>
            <div class="py-3">
                <a asp-action="ViewParamedics" class="d-block btn btn-primary">View Paramedics</a>
                <a asp-action="ViewOrders" class="d-block btn btn-info">View Orders</a>
            </div>
        </div>
    </div>
    <div class="m-5">
        <h3>Under Processing Orders</h3>
        <table class="table table-resposive table-hover">
            <thead>
                <tr>
                    <th>Patient</th>
                    <th>Paramedic</th>
                    <th>Ambulance Car</th>
                    <th>Creation Time</th>
                </tr>
            </thead>
            <tbody id="notificationsTableBody">
                @foreach (var notification in Model.Notifications)
                {
                    <tr>
                        <td><a href="/Authority/ViewPatient/@notification.Request.Patient.Id">@notification.Request.Patient.Username</a></td>
                        <td><a href="/Authority/ViewPatient/@notification.Paramedic.Id">@notification.Paramedic.Username</a></td>
                        <td>@notification.Paramedic.AmbulanceCar.CarNumber</td>
                        <td>@notification.CreationDate</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


<script>

    $(document).ready(function () {

        //Intialize Hub Connection
        const connection = new signalR.HubConnectionBuilder()
            .withUrl("https://ambulancesystem.azurewebsites.net/RequestHub")
            //.withUrl("http://localhost:1882/RequestHub")
            .build();

        //Get Employee Session Id to Connect To the Server
        var employeeId = "@Context.Session.GetString("_UserId")";

        //Start Connection To The Hub
        connection.start().then(function () {
            console.log("connected");
        });

        //Received Success Message
        connection.on("ConnectionReceived", renderMessage);


        function renderMessage(message) {
            console.log(message);
            //Authorize Account
            connection.invoke("AuthorizeEmployee", employeeId);
        }

        connection.on("ConnectionStatus", renderMessage);
        connection.on("ReceiveNewOrder", showNotification);

        function showNotification(order) {
            console.log(order);

            var deserializedObject = JSON.parse(order);
            var newElement = '<tr><td><a href="/Authority/ViewPatient/' + deserializedObject.Request.Patient.Id + '">' + deserializedObject.Request.Patient.Username + '</a></td><td><a href="/Authority/ViewParamedic/' + deserializedObject.Paramedic.Id + '">' + deserializedObject.Paramedic.Username + '</a></td><td>' + deserializedObject.Paramedic.AmbulanceCar.CarNumber + '</td><td>' + deserializedObject.CreationDate + '</td></tr>';
            $("#notificationsTableBody").prepend(newElement);
        }

    });

</script>

