@model AmbulanceSystem_WebApp.ViewModels.ParamedicsViewModel
@{
    ViewData["Title"] = "ViewParamedics";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="min-height: 690px">
    <div class="my-5 w-50 pt-5">
        <h1 class="display-2">View Paramedic</h1>
    </div>

    <div class="row">
        <div class="col-2">
            <!-- Nav pills -->
            <ul class="nav nav-pills flex-column" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="pill" href="#paramedicsAvailable">Available</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="#paramedicsInOrder">In Request</a>
                </li>
            </ul>
        </div>
        <div class="col-10">
            <!-- Tab panes -->
            <div class="tab-content">
                <div id="paramedicsAvailable" class="container tab-pane active">
                    <br>

                    @foreach (var paramedic in Model.AvailableParamedics)
                    {
                        <div class="row">
                            <div class="col-2">
                                @if (paramedic.UserData.ImageUrl != null)
                                {
                                    <a href="/Authority/ViewParamedic/@paramedic.Id"><img src="paramedic.UserData.ImageUrl" alt="paramedic.UserData.Username" class="img-resposive" /></a>
                                }
                                else
                                {
                                    <a href="/Authority/ViewParamedic/@paramedic.Id">
                                        <img src="~/lib/assets/images/first-aid-1040283-1920-122x122.png" alt="@paramedic.UserData.Username" class="img-resposive" />
                                    </a>

                                }
                            </div>
                            <div class="col-10">
                                <table class="table table-dark table-striped">
                                    <tr>
                                        <td>Name: </td>
                                        <td clo-span="2">@paramedic.UserData.Username</td>
                                        <td>Current Car: </td>
                                        <td>@paramedic.AmbulanceCarInfo.CarNumber</td>
                                    </tr>
                                    <tr>
                                        <td>National Id: </td>
                                        <td>@paramedic.UserData.NationalId</td>
                                        <td>Last Request Time: </td>
                                        <td>@paramedic.LastOrderTime</td>
                                    </tr>
                                    <tr>
                                        <td>Email: </td>
                                        <td>@paramedic.UserData.Email</td>
                                        <td>Phone: </td>
                                        <td>@paramedic.UserData.PhoneNumber</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <hr />
                    }
                </div>

                <div id="paramedicsInOrder" class="container tab-pane fade">
                    <br>
                    @foreach (var paramedic in Model.unAvailableParamedics)
                    {
                        <div class="row">
                            <div class="col-2">
                                @if (paramedic.UserData.ImageUrl != null)
                                {
                                    <a href="/Authority/ViewParamedic/@paramedic.Id"><img src="paramedic.UserData.ImageUrl" alt="paramedic.UserData.Username" class="img-resposive" /></a>
                                }
                                else
                                {
                                    <a href="/Authority/ViewParamedic/@paramedic.Id">
                                        <img src="~/lib/assets/images/first-aid-1040283-1920-122x122.png" alt="@paramedic.UserData.Username" class="img-resposive" />
                                    </a>

                                }
                            </div>
                            <div class="col-10">
                                <table class="table table-dark table-striped">
                                    <tr>
                                        <td>Name: </td>
                                        <td clo-span="2">@paramedic.UserData.Username</td>
                                        <td>Current Car: </td>
                                        <td>@paramedic.AmbulanceCarInfo.CarNumber</td>
                                    </tr>
                                    <tr>
                                        <td>National Id: </td>
                                        <td>@paramedic.UserData.NationalId</td>
                                        <td>Last Request Time: </td>
                                        <td>@paramedic.LastOrderTime</td>
                                    </tr>
                                    <tr>
                                        <td>Email: </td>
                                        <td>@paramedic.UserData.Email</td>
                                        <td>Phone: </td>
                                        <td>@paramedic.UserData.PhoneNumber</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <hr />
                    }
                </div>
            </div>
        </div>
    </div>

</div>

